
.header-home{
    background-color: #444747;
    color: #D8D8D8
}
.body-style{
    
    background-color: #FEC0C0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
span.storyteller {
    border-bottom: 1px solid #75F575;
    display:block;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
span.creator {
    border-bottom: 1px solid #F57575;
    display:block;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
span.enterprise {
    border-bottom: 1px solid #C7D9ED;
    display:block;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
/* .img-bottom{
    margin-top:10rem;
} */
.product-holder {
    position: relative;
    display: block;
}
.img-body{
    position: absolute;
}
.body-text{
    color: #606060;
    opacity: 1;
    text-align: center;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.sec-2{
    background-color: #C7D9ED;
    padding-top: 5rem;
    z-index: -1;
}
.sec-3{

    background-color:#C7F38F;

}
.center-main {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component\ 51.png);
    background-repeat: no-repeat;
    margin-top: 3rem;
    margin-bottom: -4rem;
    background-size: 100% 100%;
    background-position: center center;
  }
  .center-middel {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Group\ 81.png);
    background-repeat: no-repeat;
    margin-bottom: -10rem;
    background-size: 100% 100%;
    background-position: center center;
  }

  .center {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component\ 71.png);
    background-repeat: no-repeat;
    margin-bottom: -5rem;
    background-size: 100% 100%;
    background-position: center center;
  }

footer{
	position: fixed;
    bottom: 0;
    width: 100%;
}
/* .row{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
} */

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

/* Style The Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #444747;
    
  }

  /* sports media -spm */

  .body-style-spm{
    
    background-color: #FEF96C;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.center-spm {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component318.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }
  .bottom-spm {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Group82.png);
    background-repeat: no-repeat;
    margin-bottom: -5rem;
    background-size: 100% 100%;
    background-position: center center;
  }
  .sec-2-spm {
    background-color: #C7D9ED;
    padding-top: 10rem;
}
.sec-3-spm {
    background-color: #C7F38F;
    padding-top: 4rem;
}
.body-text-spm{
    color: #606060;
    opacity: 1;
    text-align: center;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

@media (max-width:600px){
    .body-text-spm{
        color: #606060;
        opacity: 1;
        text-align: center;
        /* padding-bottom: 0rem!important; */

    }
}

.inf-inv{
    width: 40%;
    height: auto;
    padding-top: 8px; object-fit: contain;
    /* border-left: 1px solid #444747; */
}
.burg-btn{
    width: 55%;
    height: auto;
    padding-top: 8px;
    object-fit: contain;
    padding-top: 5%; 
    
    /* padding-left:10%; */
}
.vert-l{
    border-left: 2px solid #606060;
}

/* The creator section */

.body-style-cr{
    
    background-color: #FEC0C0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.middle-style-cr{
    
    background-color: #C7D9ED;
    padding-top: 8rem;
    padding-bottom: 5rem;
}
.bottom-style-cr{
    
    background-color: #C7F38F;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.center-cr {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Sport\ Triangles.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }

  .middle-cr {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component\ 51.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }

  /* About us section */

  .body-style-au{
    background-color: #FFEB6B;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.middle-au {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component\ 51.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }
  .bottom-au {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Group82.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }

/* Enterprise */

.body-style-en{
    background-color: #C7D9ED;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.middle-en {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component\ 51.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }

  /* Storytellers */

  .body-style-st {
    background-color: #C7F38F;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.center-st {
    min-height: 350px;
    display: inline-block;
    background-image: url(../images/Component\ 71.png);
    background-repeat: no-repeat;
    margin-bottom: -12rem;
    background-size: 100% 100%;
    background-position: center center;
  }