.header{
    height: 22.5rem;
}
.header-home{
    height: 22.5rem;
    background-color: #444747;
    color: #D8D8D8
}
.body-style{
    height: 35rem;
    background-color: #FEC0C0;
}
span.storyteller {
    border-bottom: 1px solid #75F575;
    display:block;
    font-family: "Times New Roman", Times, serif;
}
span.creator {
    border-bottom: 1px solid #F57575;
    display:block;
    font-family: "Times New Roman", Times, serif;
}
span.enterprise {
    border-bottom: 1px solid #FFE76D;
    display:block;
    font-family: "Times New Roman", Times, serif;
}
.img-bottom{
    margin-top:10rem;
}
.product-holder {
    position: relative;
    display: block;
}
.img-body{
    position: absolute;
}
.body-text{
    padding: 2rem;
    color: #606060;
    opacity: 1;
    text-align: center;
    font: Medium 25px/32px jdIcoFont;
}
.sec-2{
    height: 20rem;
    background-color: #C7D9ED;

}
.sec-3{
    height: 20rem;
    background-color:#C7F38F;

}