.header{
    height: 22.5rem;
}
.header-home{
    height: 22.5rem;
    background-color: #444747;
    color: #D8D8D8
}
.body-style{
    height: 35rem;
    background-color: #FEC0C0;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
span.storyteller {
    border-bottom: 1px solid #75F575;
    display:block;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
span.creator {
    border-bottom: 1px solid #F57575;
    display:block;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
span.enterprise {
    border-bottom: 1px solid #FFE76D;
    display:block;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
/* .img-bottom{
    margin-top:10rem;
} */
.product-holder {
    position: relative;
    display: block;
}
.img-body{
    position: absolute;
}
.body-text{
    color: #606060;
    opacity: 1;
    text-align: center;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
.sec-2{
    height: 20rem;
    background-color: #C7D9ED;
    padding-top: 5rem;
    

}
.sec-3{
    height: 20rem;
    background-color:#C7F38F;

}
.center-main {
    background-image: url(../images/Component\ 5\ –\ 1.png);
    width: 100%;
    height: 100%;
    background-size:cover;
    margin-top: -1rem;
  }
  .center-middel {
    background-image: url(../images/Group\ 81.png);
    width: 100%;
    height: 55%;
    background-size:cover;
    margin-top: -4rem;
  }

  .center {
    background-image: url(../images/Component\ 7\ –\ 1.png);
    width: 100%;
    height: 100%;
    background-size:cover;
    margin-top: -3rem;
  }